* { position: relative; }

html, body {
	margin: 0;
	height: 100%;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

section {
	height: 100%;
	overflow-y: hidden;
}

#left {
	height: min-content;
	background-color: #ddd;
}

#right {
	flex: 1;
}

#control {
	display: none;
}

.button-row {
	display: flex;
}

.button-row>* {
	flex: 1;
	display: block;
	padding: .5em 0;
	cursor: pointer;
	text-align: center;
	background-color: #ccc;
	transition-property: background-color;
	transition-duration: .2s;
}
.button-row>*:hover {
	background-color: #aaa;
}

label>input {
	display: none;
}